

// COLORS
$color-primary: #382ea0;
$color-primary-light: #645d98;

$color-text: #848386;
$color-text-light: #cecece;

$color-green: #38cb59;
$color-secondary: #c83436;

$color-svg: #87859a;
$color-dark: rgb(43, 41, 41);

$color-white: #fff;
$color-black: #000;
