@import "../../assets/scss/main.scss";

.body {
  background: $color-white;
  border-radius: 4px;
  padding: .3rem 2.5rem 1.5rem;
  box-shadow: 2px 2px 8px rgba($color-text-light, 0.7);
  position: absolute;
  top: 120%;
  right: 0;

  .arrow {
    position: absolute;
    top: -5px;
    left: 10px;
    background: inherit;
    height: 17px;
    width: 17px;
  }

  .chat {
    @include flex-between;
    padding-top: 1.2rem;
    &:not(:last-of-type) {
        border-bottom: 1px solid rgba($color-text-light, 0.7);
        padding-bottom: 1.2rem;
    }
    img {
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 100%;
    }
    p {
      margin-left: 1rem;
      margin-right: 2.3rem;
    }
  }
}
