@import "../assets/scss/main.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  color: $color-text;
}
/* ::selection {
   background:rgba(252, 229, 55, 0.72);
 } */

html {
  ///// MIN WIDTH RULES GOES IN ASCENDING ORDER //////
  @include responsive(1600px) {
    font-size: 93.75%;
  }
  @include responsive(1800px) {
    font-size: 100%;
  }

  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: currentColor;
}

li {
  list-style: none;
}

button,
input,
textarea,
select,
option {
  border: none;
  background-color: inherit;
  cursor: pointer;
  &:active,
  &:focus {
    border: none;
    outline: none;
  }
}

textarea {
  cursor: text;
}

.App {
  @include flex-between;
  svg {
    width: 1.64rem;
    height: 1.64rem;
    fill: $color-svg;
  }
}
.darken {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.322);
  z-index: 49;
  visibility: hidden;
  &.show {
    visibility: visible;
  }
}

.main {
  height: 100vh;
  width: 85.5%;
  padding: 3rem 4rem 4rem 2.5rem;
  overflow-y: auto;
  @include responsive(800px) {
    padding: 3rem 2.5rem 4rem;
  }
  @include responsive(600px) {
    width: 100% !important;
    overflow-x: hidden;
  }
}

.main-nav {
  width: 100%;
  position: relative;
  @include flex-between;

  .search-box {
    @include flex-between;
    flex: 0 0 77%;
    border: 1px solid rgba($color-text-light, 0.3);
    border-radius: 6px;
    box-shadow: 4px 2px 4px rgba($color-text-light, 0.3);
    padding: 0 1.2rem 0 3rem;

    @include responsive(1200px) {
      flex: 0 0 75%;
    }
    @include responsive(1100px) {
      flex: 0 0 70%;
    }
    @include responsive(1024px) {
      flex: 0 0 63%;
    }
    @include responsive(800px) {
      flex: 0 0 55%;
    }

    svg {
      height: 2.2rem;
      width: 2.2rem;
      margin-right: 2rem;
    }

    input {
      height: 5rem;
      width: 100%;
      color: rgba($color-text, 0.8);
      font-size: 1.5rem;
      &::placeholder {
        color: inherit;
        font-size: inherit;
      }
    }

    button {
      margin-left: 0.5rem;
      background: $color-primary;
      color: $color-white;
      padding: 0.9rem 2.5rem;
      font-size: 1.1rem;
      border-radius: 5px;
    }
  }

  .notifications {
    flex: 0 0 18%;
    @include flex-between;
    @include responsive(1280px) {
      flex: 0 0 19%;
    }
    @include responsive(1200px) {
      flex: 0 0 20%;
    }
    @include responsive(1100px) {
      flex: 0 0 22%;
    }
    @include responsive(1024px) {
      flex: 0 0 25%;
    }
    @include responsive(950px) {
      flex: 0 0 27%;
    }
    @include responsive(900px) {
      flex: 0 0 31%;
    }
    @include responsive(768px) {
      flex: 0 0 47%;
    }
    @include responsive(425px) {
      flex: 0 0 53%;
    }
    @include responsive(375px) {
      flex: 0 0 57%;
    }
    @include responsive(350px) {
      flex: 0 0 60%;
    }


    span {
      position: relative;
      cursor: pointer;
      svg {
        width: 2.7rem;
        height: 2.7rem;
        fill: $color-primary;
      }

      p {
        background: $color-secondary;
        height: 1.4rem;
        width: 1.4rem;
        font-size: 0.9rem;
        @include flex-center;
        border-radius: 100%;
        color: $color-white;
        position: absolute;
        right: -2px;
        bottom: 0;
      }
    }

    .profile {
      cursor: pointer;
      height: 4rem;
      width: 4rem;
      border-radius: 100%;
      background: url(../assets/images/man.png) center;
      background-size: cover;
      position: relative;
      left: 18px;

      span {
        position: absolute;
        bottom: 0;
        right: 1px;
        height: 1rem;
        width: 1rem;
        background: $color-green;
        border-radius: 100%;
      }
    }
  }

  & > span {
    width: 20px;
    height: 2px;
    background: $color-svg;
    position: relative;
    display: none;
    @include responsive(600px) {
      display: unset;
    }
    &::before,
    &::after {
      position: absolute;
      content: "";
      left: 0;
      background: inherit;
      width: inherit;
      height: inherit;
    }
    &::before {
      top: -6px;
    }
    &::after {
      top: 6px;
    }
  }
}

.selects {
  @include flex-between;
  width: 100% !important;
  margin: 3rem 0;
  box-shadow: 2px 2px 8px rgba($color-text-light, 0.7);
  div {
    width: min-content;
    padding: 1rem 1rem 1rem 1.5rem;
    &:not(:last-of-type) {
      border-right: 1px solid rgba($color-text-light, 0.7);
    }
  }
}

.catalogue {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2.5rem;
}
